<div class="wrapper">
    <div class="store">
      <h1>Kiwi Clothing Store</h1>
      <div id="headerImage">
        <img src="https://images.pngnice.com/download/2007/Kiwi-Bird-PNG-Photos.png" alt="clothing logo" />
      </div>

      <header id="homeSection">
        <nav>
          <a href="#">Home</a>
          <a href="#">About us</a>
          <a href="#">Contact Us</a>
          <hr style="color: red; margin: 20px;">
        </nav>
      </header>
    

      <h2 style="text-align: center;">Clothes</h2>
      <div class="album py-5 bg-red">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://i.pinimg.com/736x/ad/0d/49/ad0d4953258f091cbd53d6010188a1f7.jpg" height="1000" alt="Formal Attire">
                <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View
                    </button>  
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">  
                              <h2 class="modal-title fs-5" id="exampleModalLabel1">Formal Attire</h2>    
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <img src="https://i.pinimg.com/736x/ad/0d/49/ad0d4953258f091cbd53d6010188a1f7.jpg" height="500" alt="Formal Attire">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>               
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://i.pinimg.com/564x/04/f7/c1/04f7c1dee9cb9d97cdd6dd7c3e59b48d.jpg" height="500" alt="Casual Attire" >
                <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View
                        </button>  
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header"> 
                                  <h2 class="modal-title fs-5" id="exampleModalLabel2">Casual Attire</h2>                            
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <img src="https://i.pinimg.com/564x/04/f7/c1/04f7c1dee9cb9d97cdd6dd7c3e59b48d.jpg" height="500" alt="Casual Attire">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>              
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://i.pinimg.com/564x/ca/6f/e7/ca6fe7475dd59d9830db67dc9d71b56a.jpg" height="500" alt="Black Dress">
                <div class="card-body">         
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View
                        </button>  
                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h2 class="modal-title fs-5" id="exampleModalLabel">Dresses</h2>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <img src="https://i.pinimg.com/564x/ca/6f/e7/ca6fe7475dd59d9830db67dc9d71b56a.jpg" height="500" alt="Black Dress">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
               </div>
               </div>
              </div>
            </div>  
  </div>
</div>
</div>
</div>
</div>
